@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

.navbar-brand img {
  height: 50px;
  width: auto;
}

.nav-link {
  font-weight: bold;
  font-size: 16px;
}

html{
    position: relative;
    min-height: 100%;
}

main{
    margin-bottom: 250px;
}

footer {
  font-size: 12px;
  padding: 16px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer div {
  line-height: 1.4;
}

